.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main__item{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;

}

.main__item_img:hover{
  transform: scale(1.03);
  transition: all .3s ease-in-out;
}